{# empty Twig template #}
{% extends '::base.html.twig' %}

{%  block body %}

    <div class="container">
      <nav class='navbar navbar-light bg-light row'>
           {% if botones.botonLogin != "-" %}
               {{ botones.botonLogin | raw }}
               {{ botones.botonSignUp | raw }}
           {% else %}
                {{ botones.botonProgreso | raw }}
                {{ botones.botonResumen | raw }}
                {{ botones.botonDietas | raw }}
                {{ botones.botonTablas | raw}}
                {{ botones.botonAmpliarPlan | raw}}
                {{ botones.botonLogout | raw}}
           {% endif %}
           {#
           {% if botones.botonLogin != "-" %}
               <a class='navbar-brand' href='login.php'>Login</a>
           {% endif %}
           {% if botones.botonSignUp != "-" %}
               <a class='navbar-brand' href='signup.php'>Sign Up</a>
           {% endif %}
           {% if botones.botonProgreso != "-" %}
               <a class='navbar-brand' href='progreso.php'>Progreso</a>
           {% endif %}
           {% if botones.botonResumen != "-" %}
               <a class='navbar-brand' href='resumen.php'>Resumen</a>
           {% endif %}
           {% if botones.botonDietas != "-" %}
               <a class='navbar-brand' href='dietas.php'>Dietas</a>
           {% endif %}
           {% if botones.botonTablas != "-" %}
               <a class='navbar-brand' href='tablas.php'>Tablas</a>
           {% endif %}
           {% if botones.botonAmpliarPlan != "-" %}
               <a class='navbar-brand' href='ampliarplan.php'>Ampliar plan</a>
           {% endif %}
           #}
       </nav>
       <br>
       <br>
       <div class="row">
       </div>
       
       <img src="{{ asset('img/iconomoto.png') }}" alt="iconomoto">
    </div>

{% endblock %}