{# empty Twig template #}
{% extends '::base.html.twig' %}

{%  block body %}

    <div class="container">
        <nav class='navbar navbar-light bg-light row'>
            {% if botones.botonLogin != "-" %}
                {# Si la sesión NO está iniciada #}
                {{ botones.botonLogin | raw }}
                {{ botones.botonSignUp | raw }}
            {% else %}
                {# Si la sesión SI está iniciada #}
                {{ botones.botonProgreso | raw }}
                {{ botones.botonResumen | raw }}
                {{ botones.botonDietas | raw }}
                {{ botones.botonTablas | raw}}
                {{ botones.botonAmpliarPlan | raw}}
                {{ botones.botonAdmin | raw}}
                {{ botones.botonLogout | raw}}
                
            {% endif %}
        </nav>
        <br>
        <br>
        <div class="row">
            {% if botones.botonLogin == "-" and botones.botonAdmin == ""%}
                <h4 class="font-weight-light col-sm-12 col-12">Preparador(es):</h4>
                {% for preparador in preparadores %}
                    <div class="card" style="width: 18rem; margin-left: 5px">
                        <div class="card-body">
                            <h5 class="card-title">{{ preparador.nombre }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Empleado nº: {{ preparador.numeroempleado }}</h6>
                            <p class="card-text">Email: {{ preparador.email }}</p>
                            <p class="card-text">Telefono: {{ preparador.telefono }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="text-center">
            <img class="img-fluid" src="{{ asset('img/iconomoto.png') }}" alt="iconomoto" width="50%" height="auto">
        </div>
        
    </div>

{% endblock %}