{# empty Twig template #}
{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:progreso{% endblock %}

{% block body %}


    <div class="container">
        <nav class='navbar navbar-light bg-light row'>
            {% if botones.botonLogin != "-" %}
                {# Si la sesión NO está iniciada #}
                {{ botones.botonLogin | raw }}
                {{ botones.botonSignUp | raw }}
            {% else %}
                {# Si la sesión SI está iniciada #}
                <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Inicio'>Inicio</a>
                {{ botones.botonResumen | raw }}
                {{ botones.botonDietas | raw }}
                {{ botones.botonTablas | raw}}
                {{ botones.botonAmpliarPlan | raw}}
                {{ botones.botonLogout | raw}}

            {% endif %}
        </nav>
        <br>
        <form action ="{{path('insertProgreso')}}" method="post" enctype="multipart/form-data">

            <label for="exampleInputEmail1">Introduzca una imagen</label>
            <div class="custom-file">

                {{form_widget(form.imagen, {'attr': {'class': 'custom-file-input',
                                                    'placeholder': 'Contraseña', 
                                                    'lang':'es'}})}}
                <label class="custom-file-label" for="customFileLang">Introduzca una imagen de su progreso</label>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Peso actual</label>
                {{form_widget(form.peso, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Peso actual'}})}}
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Medidas actuales</label>
                {{form_widget(form.medidas, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Medidas actuales: Cuello/Cintura/Cadera'}})}}
                <small><a href="https://es.wikihow.com/calcular-la-grasa-corporal-con-una-cinta-m%C3%A9trica" target="_blank">¿No sabes como medirte? Aqui tienes una guia de como hacerlo</a></small>
            </div>
            {{ form_rest(form) }}
            <br>
            <button type="submit" class="btn btn-primary">Registrar progreso</button>

        </form>
        <br>

        {% if error != null %}
            <div class="alert alert-danger" role="alert">

                {% for errorSimple in error %}
                    <p>{{ errorSimple }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
