{# empty Twig template #}
{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:progreso{% endblock %}

{% block body %}


    <div class="container">
        <nav class='navbar navbar-light bg-light row'>
            {% if botones.botonLogin != "-" %}
                {# Si la sesión NO está iniciada #}
                {{ botones.botonLogin | raw }}
                {{ botones.botonSignUp | raw }}
            {% else %}
                {# Si la sesión SI está iniciada #}
                <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Inicio'>Inicio</a>
                {{ botones.botonResumen | raw }}
                {{ botones.botonDietas | raw }}
                {{ botones.botonTablas | raw}}
                {{ botones.botonAmpliarPlan | raw}}
                {{ botones.botonLogout | raw}}

            {% endif %}
        </nav>
        <br>
        <form action ="{{path('insertProgreso')}}" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label for="exampleFormControlFile1">Imagen</label>
                {{form_widget(form.imagen, {'attr': {'class': 'form-control-file',
                                                    'placeholder': 'Contraseña'}})}}
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Peso actual</label>
                {{form_widget(form.peso, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Peso actual'}})}}
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Medidas actuales</label>
                {{form_widget(form.medidas, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Medidas actuales'}})}}
            </div>
{{ form_rest(form) }}
            <br>
            <button type="submit" class="btn btn-primary">Registrar progreso</button>

        </form>
        <br>

        {{ form_errors(form) }}
        {% if not form.vars.valid %}
            <ul>
                {# Loop through every form item #}
                {% for child in form.children %}
                    {# Display the errors of the form item #}
                    {%for error in child.vars.errors%}
                        <li>{{error.message}}</li>
                        {%endfor%}
                    {%endfor%}
            </ul>
        {%endif%}
        {% if error != '-' %}
            <div class="alert alert-danger" role="alert">
                <p>{{ error }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
