{# empty Twig template #}
{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:verDieta{% endblock %}

{% block body %}


    <div class="container">
        <nav class='navbar navbar-light bg-light row'>
            {% if botones.botonLogin != "-" %}
                {# Si la sesi칩n NO est치 iniciada #}
                {{ botones.botonLogin | raw }}
                {{ botones.botonSignUp | raw }}
            {% else %}
                {# Si la sesi칩n SI est치 iniciada #}
                
                {{ botones.botonInicio | raw }}
                {{ botones.botonProgreso | raw }}
                {{ botones.botonResumen | raw }}
                {{ botones.botonTablas | raw}}
                {{ botones.botonAmpliarPlan | raw}}
                {{ botones.botonAdmin | raw}}
                {{ botones.botonLogout | raw}}

            {% endif %}
        </nav>


        <br>
        <div class="row">
            {% if dietaMostrar != null and dietaMostrar != "-"%}
                <h5 class="col-12">{{ dietaMostrar.semana }}</h5>
                <div class="list-group col-sm-12">
                    {% for dia in dietaMostrar.coddia %}
                        <span class="list-group-item list-group-item-action flex-column align-items-start ">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ dia.dia }}</h5>
                            </div>
                            <p class="mb-1">Calorias: {{ dia.calorias }}. Macronutrientes: {{ dia.macronutrientes }}.</p>
                            <div class="list-group">
                                {% for plato in dia.codplato %}
                                    <a href="{{ plato.link }}" class="list-group-item list-group-item-action flex-column align-items-start ">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{ plato.nombre }}</h5>
                                            <small>{{ plato.tipocomida }}</small>
                                        </div>
                                        <p class="mb-1">Calorias del plato: {{ plato.calorias }}</p>
                                        <small>Si no sabe cocinar el plato, pulse en el para ver la receta.</small>
                                    </a>
                                {% endfor %}
                            </div>
                        </span>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-danger col-12" role="alert">

                    <p>Dieta no encontrada</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
