{# empty Twig template #}
{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:verDieta{% endblock %}

{% block body %}
    <div class="container">
        <nav class='navbar navbar-light bg-light row'>
            {% if botones.botonLogin != "-" %}
                {# Si la sesi칩n NO est치 iniciada #}
                {{ botones.botonLogin | raw }}
                {{ botones.botonSignUp | raw }}
            {% else %}
                {# Si la sesi칩n SI est치 iniciada #}
                {{ botones.botonProgreso | raw }}
                {{ botones.botonResumen | raw }}
                {{ botones.botonDietas | raw }}
                {{ botones.botonTablas | raw}}
                {{ botones.botonAmpliarPlan | raw}}
                {{ botones.botonAdmin | raw}}
                {{ botones.botonLogout | raw}}
                
            {% endif %}
        </nav>
        <br>

        {% if form is defined %}
            <form action ="{{path('verTablas')}}" method="post">
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-primary">Ver tabla</button>
            </form>
        {% endif %}

        {% if tablaMostrar is defined %}
            <h5 class="col-12">{{ tablaMostrar.tipo }}</h5>
            <div class="list-group col-sm-12">
                {% for sesion in tablaMostrar.codsesion %}
                    <span class="list-group-item list-group-item-action flex-column align-items-start ">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ sesion.dia }}</h5>
                        </div>
                        
                        <div class="list-group">
                            {% for ejercicio in sesion.codigoejercicio %}
                                <a href="{{ ejercicio.link }}" class="list-group-item list-group-item-action flex-column align-items-start ">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ ejercicio.nombre }}</h5>
                                        <small>{{ ejercicio.repeticiones }}x{{ ejercicio.series }}</small>
                                    </div>
                                    <p class="mb-1">Peso para ejercicio: {{ ejercicio.peso }}</p>
                                    <small>Si no sabe hacer el ejercicio, pulse en el para ver la tecnica</small>
                                </a>
                            {% endfor %}
                        </div>
                    </span>
                {% endfor %}
            </div>
        {% endif %}

        {% if error != "-" %}
            {{ error }}
        {% endif %}

        {#{% if tablaMostrar != null and tablaMostrar != "-"%}
            {{ tablaMostrar }}
        {% endif %}#}
    </div>
{% endblock %}
