{% extends "::base.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <nav class='navbar navbar-light bg-light row'>

            <a class='navbar-brand' href='{{path('_login')}}'>LogIn</a>
            <a class='navbar-brand' href='{{path('_signup')}}'>SignUp</a>
        </nav>
        <br>

        <form class="px-4 py-3" action="{{path('_login')}}" method="post">
            <div class="form-group">
                <label for="exampleDropdownFormEmail1">Login</label>
                {{form_widget(form.Login, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Login'}})}}
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword1">Contraseña</label>
                {{form_widget(form.Clave, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Contraseña'}})}}
            </div>
{{ form_rest(form) }}

            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{path('_signup')}}">Registrarse</a>
        <div class="dropdown-divider"></div>
        {% if error != '-' %}
            <div class="alert alert-danger dropdown-item" role="alert">
                <p>{{ error }}</p>
            </div>
        {% endif %}
    </div>




{% endblock %}
