{% extends '::base.html.twig' %}

{% block title %}Registro{% endblock %}

{%  block body %}
    <div class="container">
        <nav class='navbar navbar-light bg-light row'>

            <a class='navbar-brand' href='{{path('_login')}}'>LogIn</a>
            <a class='navbar-brand' href='{{path('_signup')}}'>SignUp</a>
        </nav>
        <br>

        <form class="px-4 py-3" action="{{path('_signup')}}" method="post">
            <div class="form-group">
                <label for="exampleDropdownFormEmail1">DNI</label>
                {{form_widget(form.dni, {'attr': {'class': 'form-control',
                                                    'placeholder': 'DNI'}})}}
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword1">Nombre</label>
                {{form_widget(form.nombre, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Nombre'}})}}
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword1">Email</label>
                {{form_widget(form.email, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Email'}})}}
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword1">Direccion</label>
                {{form_widget(form.direccion, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Direccion'}})}}
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword1">Telefono</label>
                {{form_widget(form.telefono, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Telefono'}})}}
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword1">Objetivo</label>
                {{form_widget(form.objetivo, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Objetivo'}})}}
            </div>

            <div class="form-group">
                <label for="exampleDropdownFormPassword1">Disponibilidad</label>
                {{form_widget(form.disponibilidad, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Disponibilidad'}})}}
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword1">Observaciones</label>
                {{form_widget(form.observaciones, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Añada si tiene alergias o cualquier información de interes'}})}}
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword1">Plan</label>
                {{form_widget(form.codplan, {'attr': {'class': 'form-control'}})}}
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword1">Contraseña</label>
                {{form_widget(form.clave, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Contraseña'}})}}
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword1">Repetir contraseña</label> 
                <input name="recpass" type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Repetir contraseña">
            </div>
{{ form_rest(form) }}

            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
        <div class="dropdown-divider"></div>
        {{ form_errors(form) }}
        {% if error != '-' %}
            <div class="alert alert-danger dropdown-item" role="alert">
                <p>{{ error }}</p>
                
            </div>
        {% endif %}
    </div>
{% endblock %}