{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
   {% if administrador is defined and administrador == "true"%}
            <nav class='navbar navbar-light bg-light row'>
                <a class='navbar-brand' href='#'>Resumen de mis clientes</a>
                <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Admin'>Administracion</a>
                <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Logout'>Logout</a>
            </nav>

    {% endif %}
    
    {% if form is defined %}
    <form action ="{{path('buscar_cliente')}}" method="post">
        {{form_widget(form)}}
        <input type="submit" value="Ver cliente"/>
    </form>
    {% endif %}
    
    {% if clienteobtenido is defined %}
        <table class="table table-bordered table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th scope="col">DNI</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Dirección</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Objetivo</th>
                <th scope="col">Dieta</th>
                <th scope="col">Plan</th>
                <th scope="col">Disponibilidad</th>
                <th scope="col">Observaciones</th>
            </tr>
            </thead>
            <tr>
                <td>{{ clienteobtenido.dni }}</td>
                <td>{{ clienteobtenido.nombre }}</td>
                <td>{{ clienteobtenido.email }}</td>
                <td>{{ clienteobtenido.direccion }}</td>
                <td>{{ clienteobtenido.telefono }}</td>
                <td>{{ clienteobtenido.objetivo }}</td>
                <td>{{ clienteobtenido.coddieta }}</td>
                <td>{{ clienteobtenido.codplan }}</td>
                <td>{{ clienteobtenido.disponibilidad }}</td>
                <td>{{ clienteobtenido.observaciones }}</td>
            <tr>
        </table>
    {% endif %}
    
    {#
    {% if cliente is defined %}
        {{ cliente }}
    {% endif %}
    #}
    
    {% if error is defined and error != "-" %}
        {{ error }}
    {% endif %}
    </div>
{% endblock %}