{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        {% if administrador is defined and administrador == "true"%}
            <nav class='navbar navbar-light bg-light row'>
                <a class='navbar-brand' href='{{path('verResumenCliente')}}'>Resumen de mis clientes</a>
                <a class='navbar-brand' href='{{path('principal_administracion')}}'>Administracion</a>
                <a class='navbar-brand' href='{{path('_logout')}}'>Logout</a>
            </nav>
            <br>
        {% endif %}

        {% if form is defined %}
            <form action ="{{path('buscar_cliente')}}" method="post">

                <div class="form-group">
                    <label for="exampleDropdownFormEmail1">Tus clientes</label>
                    {{form_widget(form.cliente, {'attr': {'class': 'form-control'}})}}
                </div>
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-primary">Ver cliente</button>
            </form>
        {% endif %}

        {% if clienteobtenido is defined %}

            
            <div class="jumbotron">
                <h1 class="display-4">{{ clienteobtenido.nombre }}</h1>
                <p class="lead">Plan del cliente: {{ clienteobtenido.codplan }}</p>
                <hr class="my-4">
                <p>Informacion de contacto:</p>
                <p class="ml-5">Direccion: {{ clienteobtenido.direccion }}</p>
                <p class="ml-5">Telefono: {{ clienteobtenido.telefono }}</p>
                <p class="ml-5">Email: {{ clienteobtenido.email }}</p>


                {% if clienteobtenido.coddieta != null %}
                    <p>Dieta asignada al cliente:</p>
                    <p class="ml-5">{{ clienteobtenido.coddieta.semana }} <a class="btn btn-primary" href="{{ path('ver_dieta_param', {'codDieta': clienteobtenido.coddieta.coddieta}) }}" role="button">Ver dieta del cliente</a></p> 
                {% else %}
                    <p><b>Sin dieta asignada</b> <a class="btn btn-primary" href="{{ path('asignar_dieta') }}" role="button">Asignar dieta al cliente</a></p> 
                {% endif %}
                {% if clienteobtenido.codtabla != null %}
                    <p >Tabla asignada al cliente:</p>
                    <p class="ml-5">{{ clienteobtenido.codtabla.tipo }} <a class="btn btn-primary" href="{{ path('ver_tabla_param', {'codTabla': clienteobtenido.coddieta.coddieta}) }}" role="button">Ver tabla del cliente</a></p>
                {% else %}
                    <p><b>Sin tabla asignada</b></p> <a class="btn btn-primary" href="{{ path('asignar_tabla_cliente') }}" role="button">Asignar tabla al cliente</a>
                {% endif %}
                <p>Objetivos del cliente: {{ clienteobtenido.objetivo }}</p>
                <p>Disponibilidad del cliente: {{ clienteobtenido.disponibilidad }} dias</p>
                <p>Observaciones del cliente: {{ clienteobtenido.observaciones }}</p>
            </div>

        {% endif %}

        {#
        {% if cliente is defined %}
            {{ cliente }}
        {% endif %}
        #}

        {% if error is defined and error != "-" %}
            {{ error }}
        {% endif %}
    </div>
{% endblock %}