{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:crearDieta{% endblock %}

{% block body %}
    <div class="container">
        <nav class='navbar navbar-light bg-light row'>
            <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/verResumenCliente'>Resumen de mis clientes</a>
            <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Admin'>Administracion</a>
            <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Logout'>Logout</a>
        </nav>
        <br>
        <form action = "{{ path('crear_dia_dieta') }}" method="POST">
            {{ form_widget(form) }}
            <br>

            {% if platosInsertados < 2 %}
                <button type="submit" class="btn btn-secondary" disabled>Guardar dia de la dieta</button>&nbsp;
            {% else %}
                <button type="submit" class="btn btn-primary">Guardar dia de la dieta</button>
            {% endif %}
            <a href="{{ path('crear_plato') }}"><button type="button" class="btn btn-primary" style="margin-right: 20px">Crear un plato</button></a>
        </form>
        <br>
        {% if platosInsertados < 2 %}
            <small class="alert alert-info" role="alert">Debes crear al menos 2 platos por dia, platos creados: {{ platosInsertados }}</small>
        {% else %}
            <small class="alert alert-info" role="alert">Platos creados: {{ platosInsertados }}</small>
        {% endif %}
        <br>
        {% if error != "-" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ error }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}