{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:crearDieta{% endblock %}

{% block body %}
    <div class="container">
        <nav class='navbar navbar-light bg-light row'>
            <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/verResumenCliente'>Resumen de mis clientes</a>
            <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Admin'>Administracion</a>
            <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Logout'>Logout</a>
        </nav>
        <br>
        <form action = "{{ path('crear_dieta') }}" method="POST" class="px-4 py-3">

            <div class="form-group">
                <label for="exampleDropdownFormEmail1">Nombre de la dieta</label>
                {{form_widget(form.semana, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Nombre de la dieta'}})}}
            </div>

            <br>
            {{ form_rest(form) }}
            {% if diasInsertados < 7 %}
                <button type="submit" class="btn btn-secondary" disabled>Guardar dieta</button>&nbsp;

            {% else %}
                <button type="submit" class="btn btn-primary">Guardar dieta</button>
            {% endif %}

            {% if diasInsertados >= 7 %}
                <button type="button" class="btn btn-primary" style="margin-right: 20px" disabled>Crear dia de la dieta</button>

            {% else %}
                <a href="{{ path('crear_dia_dieta') }}"><button type="button" class="btn btn-primary" style="margin-right: 20px">Crear dia de la dieta</button></a>
            {% endif %}



        </form>
        <br>
        {% if diasInsertados < 7 %}
            <small class="alert alert-info" role="alert">Debes crear los 7 dias de la dieta, dias creados: {{ diasInsertados }}</small>
        {% else %}
            <small class="alert alert-info" role="alert">Dias creados: {{ diasInsertados }}</small>
        {% endif %}
        <br>
        {% if error != "-" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ error }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
