{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:crearDieta{% endblock %}

{% block body %}
    <div class="container">
        <nav class='navbar navbar-light bg-light row'>
            <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/verResumenCliente'>Resumen de mis clientes</a>
            <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Admin'>Administracion</a>
            <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Logout'>Logout</a>
        </nav>
        <br>
        <form action = "{{ path('crear_plato') }}" method="POST" class="px-4 py-3">
            
            <div class="form-group">
                <label for="exampleDropdownFormEmail1">Nombre del plato</label>
                {{form_widget(form.nombre, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Nombre del plato'}})}}
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormEmail1">Calorias del plato</label>
                {{form_widget(form.calorias, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Calorias del plato'}})}}
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormEmail1">Tipo de comida</label>
                {{form_widget(form.tipocomida, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Tipo de comida'}})}}
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormEmail1">Link a la receta</label>
                {{form_widget(form.link, {'attr': {'class': 'form-control',
                                                    'placeholder': 'Link a la receta'}})}}
            </div>
             <div class="form-group">
                <label for="exampleDropdownFormEmail1">Platos ya creados</label>
                {{form_widget(form.platosExistentes, {'attr': {'class': 'form-control'}})}}
            </div>
            
            {{ form_rest(form) }}
            <br>
            <button type="submit" class="btn btn-primary">Guardar plato</button>

        </form>
        <br>
        {% if error != "-" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ error }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}