{% extends "::base.html.twig" %}

{% block title %}Nuevo empleado{% endblock %}

{% block body %}
    <div class="container">
        <nav class='navbar navbar-light bg-light row'>
            <a class='navbar-brand' href='{{path('verResumenCliente')}}'>Resumen de mis clientes</a>
            <a class='navbar-brand' href='{{path('principal_administracion')}}'>Administracion</a>
            <a class='navbar-brand' href='{{path('_logout')}}'>Logout</a>
        </nav>
        <br>
        <form action = "{{ path('nuevo_empleado') }}" method="POST">
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
        <br>
        {% if error != "-" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ error }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
