{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">

        {% if administrador is defined and administrador == "true"%}
            <nav class='navbar navbar-light bg-light row'>
                <a class='navbar-brand' href='{{path('moto_principal_homepage')}}'>Inicio</a>
                <a class='navbar-brand' href='{{path('verResumenCliente')}}'>Resumen de mis clientes</a>
                <a class='navbar-brand' href='{{path('_logout')}}'>Logout</a>
            </nav>

            <div class="row">

                {% if despedido != null %}
                    
                    <div class="alert alert-info mt-3 col-sm-12 text-center">
                        <strong>Informacion!</strong> {{ despedido }}
                    </div>
                {% endif %}
                <div class="btn mt-3 col-sm-12">
                    <img src="{{ asset('img/iconolupa.png') }}" alt="buscar" class="img-fluid" width="3%" height="auto">
                    <a href='{{path('buscar_cliente')}}'><button type="button" class="btn btn-outline-dark">Mis clientes</button></a>
                </div>
                {% if dietas is defined and dietas == "true" %}

                    <div class="list-group col-sm-12 m-3">
                        <div class="list-group-item list-group-item-secondary">Gesti칩n de dietas</div>
                        <a href='{{path('asignar_dieta')}}' class="list-group-item list-group-item-action">Asignar dieta</a>
                        <a href="{{path('crear_dieta')}}" class="list-group-item list-group-item-action">Crear nueva dieta</a>
                        <a href="{{path('ver_dieta')}}" class="list-group-item list-group-item-action">Ver una dieta</a>
                    </div>

                {% endif %}
                <br>
                {% if tablas is defined and tablas == "true" %}

                    <div class="list-group col-sm-12 m-3">
                        <div class="list-group-item list-group-item-secondary">Gesti칩n de tablas</div>

                        <a href='{{path('verTablas')}}' class="list-group-item list-group-item-action">Ver tabla</a>
                        <a href='{{path('asignar_tabla_cliente')}}' class="list-group-item list-group-item-action">Asignar tablas a cliente</a>
                        <a href="{{path('nueva_tabla')}}" class="list-group-item list-group-item-action">Crear nueva tabla</a>
                        <a href="{{path('nueva_sesion')}}" class="list-group-item list-group-item-action">Nueva sesi칩n</a>
                        <a href="{{path('nuevo_ejercicio')}}" class="list-group-item list-group-item-action">Nuevo ejercicio</a>
                    </div>
                {% endif %}

                {% if empleados is defined and empleados == "true" %}

                    <div class="list-group col-sm-12 m-3">
                        <div class="list-group-item list-group-item-secondary">Panel de administracion</div>
                        <a href='{{path('nuevo_empleado')}}' class="list-group-item list-group-item-action">A침adir nuevo empleado</a>
                        <a href="{{path('gestionar_empleados')}}" class="list-group-item list-group-item-action">Gestionar empleados existentes</a>
                    </div>
                {% endif %}
            {% endif %}

        </div>




        {% if nota is defined %}
            {{ nota }}
        {% endif %}
    </div>
{% endblock %}
