{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:verDieta{% endblock %}

{% block body %}


    <div class="container">
        {% if administrador is defined and administrador == "true"%}
            <nav class='navbar navbar-light bg-light row'>
                <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/verResumenCliente'>Resumen de mis clientes</a>
                <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Admin'>Administracion</a>
                <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Logout'>Logout</a>
            </nav>

        {% endif %}
        {% if form is defined %}
            <form action ="{{path('ver_dieta')}}" method="post">

                {{form_widget(form)}}
                <input type="submit" value="Ver dieta"/>
            </form>
        {% endif %}


        {% if dietaMostrar is defined and dietaMostrar != "-"%}
            <br>
            <div class="row">
                {% if dietaMostrar is defined and dietaMostrar != "-"%}
                    <h5 class="col-12">{{ dietaMostrar.semana }}</h5>
                    <div class="list-group">
                        {% for dia in dietaMostrar.coddia %}
                            <span class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ dia.dia }}</h5>
                                </div>
                                <p class="mb-1">Calorias: {{ dia.calorias }}. Macronutrientes: {{ dia.macronutrientes }}.</p>
                                <div class="list-group">
                                    {% for plato in dia.codplato %}
                                        <a href="{{ plato.link }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">{{ plato.nombre }}</h5>
                                                <small>{{ plato.tipocomida }}</small>
                                            </div>
                                            <p class="mb-1">Calorias del plato: {{ plato.calorias }}</p>
                                            <small>Si no sabe cocinar el plato, pulse en el para ver la receta.</small>
                                        </a>
                                    {% endfor %}
                                </div>
                            </span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
